.App {

  width: 100%;
  height: 100%;
}

#root {
  width: 1400px;
  margin: 0 auto;
  padding: 20px 34px;
  height: 100%;
  background: white;
  overflow: hidden;

}

.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 20% 70% 10%;
  position: relative;

  z-index: 12;
}

.gogol {
  background-image: url("../imgs/gogol.jpg");
  position: absolute;
  left: 73.66%;
  right: -4.01%;
  top: 39.33%;
  bottom: 0.25%;

  opacity: 0.75;

}

.gogol-left {
  background-image: url('../imgs/gogol-left.jpg');

  position: absolute;
  left: 73.47%;
  right: 2.8%;
  top: 39.28%;
  bottom: 0%;

  opacity: 0.7;
  z-index: 12;
}

header {
  width: 100%;
  height: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
}

.header-bg {
  background-image: url('../imgs/header.png');
  background-position: center;
  background-size: contain;
  width: 840px;
  height: 140px;
  margin: 20px auto 0;
}

main {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;

  position: relative;
  margin: 30px 0 0 50px;

  width: 100%;
  z-index: 1;
}


.btn {
  padding: 20px;
  font-size: 20px;
  color: RGB(214, 214, 214);
  border: 1px solid RGB(214, 214, 214);
  background: transparent;
  border-radius: 10px;
  position: absolute;
  bottom: 0px;
  left: 40%;
  cursor: pointer;
}

aside {
  position: relative;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1;
  display: flex;
  flex-direction: column;
  gap: 20px
}

footer {
  grid-column-start: 1;
  grid-column-end: 1;
  justify-self: end;
  width: 100%;
}

.footer-bg {
  width: 240px;
  height: 50px;
  margin: 45px auto 0px;

}

.child {
  width: 380px;
  height: 65px;
  background: RGB(239, 194, 109);
  border-radius: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.2em;
}

.child::before {
  content: '';
  display: block;
  background: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 10px;

}

.child::after {
  content: '';
  display: block;
  background: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 10px;

}

.logo {
  background-image: url('../imgs/logo.png');
  height: 180px;
  width: 380px;
  background-position: center;
  background-size: contain;
  margin-bottom: 40px;
}